body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*cabeçalho*/
a{
    text-decoration: none;
    color: #ffcb00;
}

.header{
    background-color: #777;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

#linha-vertical{
    display: block;
    height: 20px;
    border-right: 1px solid #ffcb00;
    padding: 5px;
}
/*fim-cabeçalho*/

/*icone*/
.fa-brands{
    color: #ffcb00;
    font-size: 25px;
    display: block;
}
/*fim-icone*/

/*menu-lateral*/
.menu{
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.menu li{
    margin-left: 10px;
    font-size: smaller;
}

.menu li a{
    display: block;
}

section.menu-lateral{
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: #373737;
    position: fixed;
    left: 0;
    display: flex;
}
/*fim-menu-lateral*/

/*conteudo*/
.corpo{
    display: flex;
    width: 350px;
    height: 35px;
    transform: skew(-20deg);
    background: #ffcb00;
    align-items: center;
    margin-left: 300px;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    font-family: Lato;
    font-style: none;
}
/*fim-conteudo*/

/*rodape*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    clear: both;
    background-color: #777;
    color: #C0C0C0;
    font-family: Arial;
}
/*fim-rodape*/
