/* menu-superior*/
.header a{
    border: none;
    color: #ffcb00;
    background-color: transparent;
    font-size: 13px;
    font-family: Lato;
    padding: 2px;
}

.menu ul{
    border: none;
    color: #ffcb00;
    background-color: transparent;
    font-size: 13px;
    font-family: Lato;
    padding: 2px;
    cursor: pointer;
}

.mini-menu{
    display: inline-block;
    padding: 5px 0;
    text-decoration: none;
    color: #ffcb00;
    font-size: 13px;
    float: right;
    margin-right: 20px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 50px solid #444;
    border-right: 60px solid #444;
    border-bottom: 30px solid transparent;
}

.mini-menu a{
    
}

#button-perfil{

}

/* fim-menu-superio*/

/* menu-lateral */
.menu-lateral a{
    color: white;
    padding: 3px;
    font-size: 14px;
    font-style: none;
    font-family: Lato;
    box-shadow: inset 0 0 0 0 #737373;
    transition: ease-out 0.5s;
}

.menu-lateral a:hover{
    box-shadow: inset 300px 0 0 0 #737373;
    border: 1px solid #ffcb00;
}

.menu-lateral a:active{
    background-color: #444 ;
}

/* fim-menu-lateral*/
