/* menu-superior*/
.header a{
    border: none;
    color: #ffcb00;
    background-color: transparent;
    font-size: 13px;
    font-family: Lato;
    padding: 2px;
}

.menu ul{
    border: none;
    color: #ffcb00;
    background-color: transparent;
    font-size: 13px;
    font-family: Lato;
    padding: 2px;
    cursor: pointer;
}

/*mini-menu
.mini-menu{
    display: block;
    padding: 6px 0;
    text-decoration: none;
    color: #ffcb00;
    font-size: 13px;
    float: right;
    margin-right: 15px;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-top: 40px solid #444;
    border-right: 60px solid #444;
    border-bottom: 30px solid transparent;

}*/

.mini-menu a{
    position: absolute;
    margin-top: -45px;
    padding: 6px 6px;
}

#sair{
    margin-top: -38px;
}

#linha-horiz{
    display: flex;
    width: 50px;
    border-bottom: 1px solid #ffcb00;
    margin-top: 3px;
}
/*fim-mini-menu*/

/* fim-menu-superio*/

/* menu-lateral */
.menu-lateral a{
    color: white;
    padding: 3px;
    font-size: 14px;
    font-style: none;
    font-family: Lato;
    box-shadow: inset 0 0 0 0 #737373;
    transition: ease-out 0.5s;
}

.menu-lateral a:hover{
    box-shadow: inset 300px 0 0 0 #737373;
    border: 1px solid #ffcb00;
}

.menu-lateral a:active{
    background-color: #444 ;
}

/* fim-menu-lateral*/
