*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastro-body{
    display: inline-block;
    margin-left: 18%;
    margin-right: 0%;
    justify-content: left;
    align-content: space-around;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

fieldset.grupo .campo{
    float: left;
}

.campo select option{
    padding-right: 1em;
}

#check{
    display: grid;
}

.botoes{
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
}

input, textarea{
    border: 1px solid;
}

fieldset{
    display: block;
    width: 100%;
    height: 70%;
    padding: 6px;
    font-size: 15px;
}

.f1{
    border-bottom: transparent;
    width: 100%;
}

.f2{
    border-top: transparent;
    border-bottom: transparent;
    flex-direction: column;
    inset: initial;
}

.f3{
    border-top: transparent;
    width: 100%;
}
