.caixa-conteudo {
    width: 337px;
    margin-left: 230px;
}

.caixa-topo {
    display: flex;
    border: 2px solid #E6E6E6; 
    border-bottom: none; 
    margin-left: 2px; 
    height: 7px; 
    width: 1060px;
}

.conteudo {
    display: flex;
    border-left: 4px solid #E6E6E6; 
    border-right: 5px solid #E6E6E6; 
    border-bottom: 5px solid #E6E6E6; 
    height: 180px;
    width: 1060px; 
    padding: 5px 0;
    display: flex;
}

p{
    font-family: Montserrat;
}