.caixa-conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1060px;
    margin-left: 230px;
}

section.sec-conted{
    display: flex;
    flex-wrap: wrap; 
}

.conteudo {
    display: flex;
    border-top: 2px solid #c9c6c6;
    border-left: 2px solid #c9c6c6; 
    border-right: 2px solid #c9c6c6; 
    border-bottom: 1px solid #c9c6c6; 
    height: 180px;
    width: 1060px; 
    padding: 5px;
    display: flex;
    align-content: space-around;
    box-shadow: 0 0 6px black;
}

p{
    font-family: Montserrat;
}