.caixa-conteudo {
    width: 337px;
    margin-left: 250px;
}

.caixa-topo {
    border: 2px solid #E6E6E6; 
    border-bottom: none; 
    margin-left: 2px; 
    height: 7px; 
    width: 1200px;
}

.conteudo {
    border-left: 4px solid #E6E6E6; border-right: 10px solid #E6E6E6; border-bottom: 10px solid #E6E6E6; 
    height: 200px;
    width: 1200px; 
    padding: 5px 0;
}