*{
    margin: 0;
    padding: 0;
}

header{
    font-family: Lato;
    font-size: 15px;
    background-color: #777;
    height: 25px;
}

#menu{
    font-family: Lato;
    font-size: 15px;
    background-color: #373737;
    height: 702px;
    width: 180px;
    float: left;
}

footer{
    text-align: center;
    background-color: #777;
    clear: both;
    ;
}