*{
    margin: 0;
    padding: 0;
}

header{
    font-family: Lato;
    font-size: 15px;
    background-color: #777;
    height: 25px;
}

.menu{
    font-family: Lato;
    font-size: 15px;
    background-color: #373737;
    height: 702px;
    width: 180px;
    float: left;
}

.cadastro{
    border-color: #ffcb00;
}

.titulo-home{
    font-family: Montserrat;
    background-color: #ffcb00;
}   

#conteudo{
    font-family: Montserrat;
}

footer{
    text-align: center;
    background-color: #777;
    clear: both;
    color: #C0C0C0;
}

section.main{
    background-position: center;
    background-size: cover;
}