*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    

}

.bloco1{
    width: 20%;
    height: 100%;
    background-color: #777;
    flex-direction: row;
}

header{
    display: flex;
    justify-content: space-between;
    font-family: Lato;
    font-size: 15px;
    background-color: #777
}

.logo{
    text-align: left;
    clear: both;
    padding: 5px;
}

.menu{
    font-family: Lato;
    font-size: 15px;
    background-color: #373737;
    float: left;
    clear: both;
}

.cadastro{
    border-color: #ffcb00;
}

.titulo-home{
    font-family: Montserrat;
}   

#conteudo{
    font-family: Montserrat;
}

footer{
    text-align: center;
    background-color: #777;
    clear: both;
    color: #C0C0C0;
    margin-bottom: 0px;
}

section.main{
    background-position: center;
    background-size: cover;
}